################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/CoreDemo/bin/Release/netcoreapp1.0
